.product-list-item
	position: relative
	display: flex
	width: 100%
	vertical-align: top
	flex-wrap: wrap
	background-color: white
	box-shadow: 1px 1px 1px
	border: 1px solid #aaaaaa
	padding: 10px
	&__image
		width: 70px
		height: 70px
		margin: 10px
	&__name
		width: calc(100% - 190px)
		margin-right: 100px
	&__city-name
		position: absolute
		bottom: 10px
		left: 10px
	&__action-type
		position: absolute
		right: 10px
		top: 10px
		background-color: #555555
		color: white
		padding: 3px
		border-radius: 3px
		text-transform: uppercase
	&__price
		position: absolute
		left: 100px
		bottom: 10px
